.nav {
  display: flex;
  flex-direction: row;
}
.nav img {
  width: 50px;
  height: 50px;
}
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.nav p {
  color: white;
  font-size: 20px;
  display: flex;
}
.mid {
  height: 400px;
  width: 100%;
  background-color: #dadbf1;
  font-size: 80px;
}
.nav2 {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.nav2 p {
  border: 1px solid;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  color: white;
}
* {
  box-sizing: border-box;
}
.sign {
  background-color: #4c5fd5;
}
.mid p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.mid input {
  border-radius: 5px;
  font-size: 30px;
  width: 600px;
  height: 80px;
  background-size: 30px;
  background-image: url(arrow_forward_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: 550px;
}
.bottom {
  background-color: #fff;
  height: 800px;
  width: 100%;
}
.lr{
    display: flex;
    flex-direction: row;
    
}