header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
  }
  h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    background-color: rgb(46, 43, 43);
    height: 60px;
    margin: 0;
    padding: 0;
  }
  nav {
    text-align: center;
    padding: 1rem;
    height: 28px;
    background-color: gray;
  }
  nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
    background-color: gray;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  h3{
    color: black;
  }
  ul{
    color: black;
  }