@media screen and (min-width: 769px) and (max-width: 1600px){
    .top{
        width: 100%;
        height: 10vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
    }
    body{
        margin: 0;
    }
    .container{
        display: flex;
    }
    .left{
        height: 90vh;
        width: 10%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: start;
    }
    .right{
        height: 90vh;
        width: 90%;
        background-color: rgb(255, 255, 255);
    }
    .tolgoi1{
        width: 20%;
        height: 10vh;
        margin-top: 20px;
        display: flex;
        gap: 10px;
        align-items: start;
    }
    .tolgoi1 img{
        margin-left: 20px;
    }
    .tolgoi2{
        width: 40%;
        height: 10vh;
        background-color: rgb(255, 255, 255);
    
    }
    .tolgoi3{
        height: 10vh;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 3px;
        border-color: gray;
        border-radius: 15px;
    }
    .tolgoi3 span{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #065fd4;
    }
    .filter{
        height: 5%;
        width: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        margin: 0%;
        font-size: larger;
    }
    .allvideo{
         height: 90%;
         width:100%;
         background-color: rgb(255, 255, 255); 
         display: flex;
         justify-content: space-between;
         font-size: xx-large;
         flex-wrap: wrap;
    }
    .video1{
      height: 233.31px;
      width: 414.79px;
      background-color: rgb(255, 255, 255);
    }
    .img1{
        background-color: rgb(255, 255, 255);
        width: 414.79px;
        height: 233.31px;
        margin: 10px;
    }
    *{
        box-sizing: border-box;
    }
    .description{
        width: 85%;
        height: 30%;
        background-color: rgb(255, 255, 255);
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }
    .img3{
        width: 80%;
        height: 80%;
        background-color: rgb(255, 255, 255);
        margin: 7px;
        border-radius: 50%;
    }
    .description1{
        height: 80%;
        width: 90%;
        margin: 7px;
    }
    .left_bar{
        display: flex;
        gap:30px;
        flex-direction: column;
        /* margin-left: 40px; */
    }
    .search{
        --padding: 14px;
        width: max-content;
        display: flex;
        align-items: center;
        padding: var(--padding);
        border-radius: 28px;
        background-color: #f6f6f6;
        width: 600px;
    }
    .search-input{
        font-size: 16px;
        font-family: 'Lexend', sans-serif;
        color: #333333;
        margin-left: var(--padding);
        outline: none;
        border: none;
        background: transparent;
        flex: 1;
        width: 300px;
    }
    img{
        border-radius: 15px;
    }
    .lf{
        display: flex;
        flex-direction: row;
    }
    .lf1{
        display: flex;
        flex-direction: row;
    }
    h2{
        margin: 0;
        padding: 3px;
        border-top: 2px solid gray;
        padding-top: 20px;

    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .top{
        width: 100%;
        height: 10vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
    }
    body{
        margin: 0;
    }
    .container{
        display: flex;
    }
    .left{
        height: 90vh;
        width: 10%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: start;
    }
    .right{
        height: 90vh;
        width: 90%;
        background-color: rgb(255, 255, 255);
    }
    .tolgoi1{
        width: 20%;
        height: 10vh;
        margin-top: 20px;
        display: flex;
        gap: 10px;
        align-items: start;
    }
    .tolgoi1 img{
        margin-left: 20px;
    }
    .tolgoi2{
        width: 40%;
        height: 10vh;
        background-color: rgb(255, 255, 255);
    
    }
    .tolgoi3{
        height: 10vh;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 3px;
        border-color: gray;
        border-radius: 15px;
    }
    .tolgoi3 span{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #065fd4;
    }
    .filter{
        height: 5%;
        width: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        margin: 0%;
        font-size: larger;
    }
    .allvideo{
         height: 90%;
         width:100%;
         background-color: rgb(255, 255, 255); 
         display: flex;
         justify-content: space-between;
         font-size: xx-large;
         flex-wrap: wrap;
    }
    .video1{
      height: 233.31px;
      width: 414.79px;
      background-color: rgb(255, 255, 255);
    }
    .img1{
        background-color: rgb(255, 255, 255);
        width: 414.79px;
        height: 233.31px;
        margin: 10px;
    }
    *{
        box-sizing: border-box;
    }
    .description{
        width: 85%;
        height: 30%;
        background-color: rgb(255, 255, 255);
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }
    .img3{
        width: 80%;
        height: 80%;
        background-color: rgb(255, 255, 255);
        margin: 7px;
        border-radius: 50%;
    }
    .description1{
        height: 80%;
        width: 90%;
        margin: 7px;
    }
    .left_bar{
        display: flex;
        gap:30px;
        flex-direction: column;
        /* margin-left: 40px; */
    }
    .search{
        --padding: 14px;
        width: max-content;
        display: flex;
        align-items: center;
        padding: var(--padding);
        border-radius: 28px;
        background-color: #f6f6f6;
        width: 600px;
    }
    .search-input{
        font-size: 16px;
        font-family: 'Lexend', sans-serif;
        color: #333333;
        margin-left: var(--padding);
        outline: none;
        border: none;
        background: transparent;
        flex: 1;
        width: 300px;
    }
    img{
        border-radius: 15px;
    }
    .lf{
        display: flex;
        flex-direction: column;
    }
    .lf1{
        display: flex;
        flex-direction: row;
        visibility: hidden;
    }
    .lf3{
        display: flex;
        flex-direction: column;
    }
    h2{
        visibility: hidden;
        
    }
}
