.top{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    background-color: #18191a;
}
.only{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    background-color: #18191a;
}
.fblogo{
    background-color: #18191a;
}
.menu{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.post{
    height: 100%;
    width: 40%;
    background-color: #18191a;
}
.contacts{
    height: 100%;
    width: 20%;
    background-color: #18191a;
}
.menus{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
}
.menus p{
    margin: 0;
    font-family: inherit;
    height: 19.99px;
}
.logos{
    display: flex;
    align-items: center;
    
}
.logos img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.tlbr{
    height: 80%;
    width: 70%;
}
.post1{
    height: 75%;
    width: 90%;
    background-color: #18191a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    gap: 10px;
    margin-top: 70px;
}
.prof{
    width: 90%;
    height: 10%;
    display: flex;
}
.description{
    width: 90%;
    height: 10%;
    background-color: #18191a;
    color: white;
}
.img{
    width: 90%;
    height: 95%;
}
.like{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.contacts1{
    width: 95%;
    height: 10%;
    background-color: #18191a;
    display: flex;
    flex-direction: column;
}
.home{
    height: 95%;
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.friends{
    height: 95%;
    width: 15%;
}
.video{
    height: 95%;
    width: 15%;
}
.Market{
    height: 95%;
    width: 15%;
}
.Groups{
    height: 95%;
    width: 15%;
    border-top: 100px;
    border-color: white;
}
.home1{
    height: 95%;
    width: 15%;
}
.profile{
    display: flex;
    width: 20%;
    height: 95%;
    justify-content: space-around;
}
.menu2{
    height: 95%;
    width: 15%;
}
.messenger{
    height: 95%;
    width: 15%;
}
.not{
    height: 95%;
    width: 15%;
}
.acc img{
    border-radius: 60px;
}
.logos2{
    width: 20%;
    height: 95%;
    display: flex;
}
.search{
    width: 80%;
    height: 95%;
}
p{
    width: 200px;
    height: 150px;
    font-size: larger;
}
.contacts2{
    display: flex;
    justify-content: space-between;
}
.sponser{
   display: flex;
   justify-content: space-between;
   height: 120px;
}
h1{
    display: flex;
    justify-content: center;
}
p{
    color: white;
}
h1{
    color: white;
}
*{
    background-color:#18191a ;
}
.search{
    color: white;
    height: 40px;
    width: 40px;
}
.sponser img{
    border-radius: 5px;
    height: 120px;
    width: 135px;
}
.contacts1 span{
    color: gray;
    font-size: 25px;
}
.cont img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.cont{
    display: flex;
}
.cont p{
    margin-left: 10px;
    height: 50px;
}